Source: minos-meta
Section: metapackages
Priority: optional
Maintainer: Javier López <m@javier.io>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://minos.io/
Vcs-Git: git://github.com/minos-org/minos-meta-deb.git
Vcs-Browser: https://github.com/minos-org/minos-meta-deb.git

Package: minos-core
Architecture: any
Pre-Depends: git, tmux, vim-nox | vim-gnome | vim-gtk | vim-gtk3
Depends: ${misc:Depends},
 mosh,
 wcd,
 htop,
 curl,
 bc,
 rsync,
 ncurses-bin,
 gdebi-core,
 ncurses-term,
 command-not-found,
 bash-completion,
 libpam-captcha,
 exuberant-ctags,
 silversearcher-ag,
 bash-minos-settings,
 minos-tools-extra,
 minos-core-settings,
Description: Minos core system
 This is Minos, a Linux based OS with focus in simplicity, elegancy and
 stability, primarily targeted at advanced users and developers.
 .
 This metapackage depends on core packages that provide minos identity to
 servers and cli based systems.

Package: minos-desktop
Architecture: any
Depends: ${misc:Depends},
 minos-core,
 i3-wm,
 i3lock,
 alsa-utils,
 alsa-base,
 mpd,
 mpc,
 ncmpcpp,
 mplayer2,
 slim,
 xorg,
 rxvt-unicode-256color,
 autocutsel,
 acpi,
 dmenu,
 feh,
 sxiv,
 notify-osd,
 pm-utils,
 libnotify-bin,
 irssi,
 mutt-patched,
 pcmanfm,
 gvfs,
 gvfs-backends,
 rlpr,
 gnupg-agent,
 lxappearance,
 zathura,
 scrot,
 ffcast,
 unrar,
 unzip,
 xarchiver,
 zram-config,
 udisks2,
 gtk2-engines-pixbuf,
 openssh-server,
 wicd-curses,
 redshift,
 vim-gtk,
 lame,
 xclip,
 policykit-1,
 libmad0,
 geoclue-ubuntu-geoip,
 libdvdread4,
 xdotool,
 dbus-x11,
 umplayer,
 gxmessage,
 magnifier,
 compton,
 plymouth-theme-minos-comet,
 xbacklight,
 genpass,
 slim-theme-minos-login,
 minos-tools,
 minos-artwork,
 util-linux,
 xdg-utils,
 conky-cli,
 realvncviewer507,
 firefox28,
 firefox28-minos-settings,
 firefox-flashplugin,
 ubuntu-drivers-common,
 minos-desktop-settings,
Description: Minos desktop system
 This is Minos, a Linux based OS with focus in simplicity, elegancy and
 stability, primarily targeted at advanced users and developers.
 .
 This metapackage depends on graphic packages that provide minos identity to
 desktop systems.
